PORT=5001
DATABASE_URL="file:./dev.db"

# Supabase Credentials (https://ueziueclbgymbynuxpby.supabase.co)
SUPABASE_URL="https://ueziueclbgymbynuxpby.supabase.co"
SUPABASE_ANON_KEY="sb_publishable_jIdjx8vma3dtMGCMwlizMA__G9TpoAi"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_jIdjx8vma3dtMGCMwlizMA__G9TpoAi"
SUPABASE_SECRET_KEY="your-supabase-secret-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"
SUPABASE_AUTH_AUTHORIZE_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/oauth/authorize"
SUPABASE_AUTH_TOKEN_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/oauth/token"
SUPABASE_JWKS_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/.well-known/jwks.json"
SUPABASE_OPENID_CONFIGURATION_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/.well-known/openid-configuration"
SUPABASE_AUTH_CALLBACK_URL="https://ueziueclbgymbynuxpby.supabase.co/auth/v1/callback"

JWT_SECRET="04OZDQdi9yfxoo62vbLWrzzDqVVoQfxqxyZydD+y8w+jBKuI4M/4Ws05HR4FskT0eB798r3BA7TRyAa8xvibtQ=="

SANDBOX_MODE=false

FRONTEND_URL=http://localhost:3000
BACKEND_URL=https://robbytopupv2-backend-1fa4.onrender.com

# Telegram Notifications
TELEGRAM_BOT_TOKEN="8895366828:AAGFIT0zG69O97ddKSG1XokbAAJndMmTY2Q"
TELEGRAM_CHAT_ID="8361673413"
TELEGRAM_GROUP_CHAT_ID="-1004318465132"

# Google OAuth Credentials
GOOGLE_CLIENT_ID="206329302084-7h656a65vmoeusu10c0cor9lvbp3042v.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
ADMIN_EMAIL="mdara9695@gmail.com"

# ABA PayWay Integration
ABA_PAYWAY_API_URL="https://link.payway.com.kh/ABAPAYo1478277O"
ABA_PAYWAY_MERCHANT_ID="MOCK_ABA_MERCHANT_ID"
ABA_PAYWAY_API_KEY="MOCK_ABA_API_KEY"

# CutLuy Live Auto Payment Gateway (https://cutluy.com/)
CUTLUY_API_KEY="ck_live_7TNbEHrfs2CDCc5ze1atGCIM6ISYZQwD"
CUTLUY_API_URL="https://cutluy.com/v1/payments"
CUTLUY_WEBHOOK_SECRET=""

# VNGZZ2GAME Live Auto Topup Provider Gateway (https://www.vngzz2game.site)
VNGZZ2GAME_API_KEY="pwArFcCneE0vcBDIGu6ZeIKHUZ3HxeQZ"
VNGZZ2GAME_API_URL="https://www.vngzz2game.site/api/v1/game"

# Bakong Relay & Auto Topup Gateway Integration
BAKONG_RELAY_TOKEN="pwArFcCneE0vcBDIGu6ZeIKHUZ3HxeQZ"
BAKONG_TOKEN="pwArFcCneE0vcBDIGu6ZeIKHUZ3HxeQZ"
AUTO_TOPUP_API_KEY="pwArFcCneE0vcBDIGu6ZeIKHUZ3HxeQZ"
MEATIKA_API_KEY="pwArFcCneE0vcBDIGu6ZeIKHUZ3HxeQZ"
BAKONG_ACCOUNT_ID="dara_mao1@bkrt"
BAKONG_MERCHANT_NAME="NA-DY TOPUP"
BAKONG_MERCHANT_CITY="Phnom Penh"
